.App {
  text-align: center;
  background-color: darkcyan;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.transform {
  background-color: aliceblue;
}

/* .keyframe {
  background-color: burlywood;
  animation-name: animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
} */

.media {
  background-color: palegoldenrod;
}

.box {
  height: 200px;
  width: 200px;
}

.list {
  height: 0%;
  transition: 1s;
  overflow: hidden;
}

.show {
  height: 100%;
}

@keyframes animation {
  0% {
    transform: rotate(0deg) translate(0px, 0px);
  }
  25% {
    transform: rotate(270deg) translate(-55px, -13px);
  }
  50% {
    transform: rotate(180deg) translate(10000px, 0px);
  }
  75% {
    transform: rotate(90deg) translate(100px, 100px);
  }
  100% {
    transform: rotate(0deg) translate(0px, 0px);
  }
}

@media screen and (max-width: 770px) {
}
